@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Media Query
/*
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape
1200 - 1800px: Desktop (Normal Style)
1800px + : Big Desktop
*/

// 1em = 16px
// Break point argument choices: phone, tap-port, tap-land, bigDesktop
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tap-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tap-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == bigDesktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
