.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.2s;
  @include responsive(tap-port) {
    padding: 2rem;
  }

  &__icon {
    font-size: 6rem;
    color: transparent;
    background: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    display: inline-block;
  }

  &__text {
  }

  &:hover {
    transform: scale(1.03) translateY(-1.5rem);
  }
}
